#Projects {
  .card-header {
    aspect-ratio: 16 / 9;
    background-image: url("../../assets/images/project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
  }
}