#Projects {
  .card-header {
    aspect-ratio: 16 / 9;
    background-image: url("../../assets/images/projects/project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    position: relative;

    i {
      color: var(--secondar-color);
      background: radial-gradient(circle, var(--primary-color) 5%, rgba(0, 0, 0, 0) 50%);
      font-size: 1.5rem;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 3rem;
      width: 3rem;
      display: grid;
      place-items: center;
    }
  }

  .card-body {
    .stack {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem ;

      .chip {
        padding: 0.25rem 0.75rem;
        border-radius: 1rem;
        font-size: 0.75rem;
        background-color: var(--primary-color);
      }
    }
  }
}