#Landing {
  height: 100vh;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .portrait {
    background-image: url("../../../public/images/me.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 1;
    max-height: 20rem;
  }

  .myself {
    display: grid;
    gap: 1rem;

    p {
      line-height: 1.5rem;
    }

    .socials {
      display: flex;
      gap: 1rem;
      align-items: center;

      a {
        display: grid;
        place-items: center;
        text-decoration: none;
        height: 2.5rem;
        width: 2.5rem;
        background: white;
        border-radius: 50%;

        img {
          height: 2.5rem;
        }
      }
    }

    .download-resume {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      padding: 0.25rem 0;
      text-decoration: none;

      p {
        text-transform: uppercase;
        width: 0;
        overflow-x: hidden;
        white-space: nowrap;
        line-height: initial;
        animation: expand-horizontal 500ms ease-out forwards;
      }

      @keyframes expand-horizontal {
        from {
          width: 0;
        }

        to {
          width: 18ch;
        }
      }

      @media (prefers-reduced-motion) {
        animation: none;
      }

      i {
        line-height: initial;
        margin-top: 2px;
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  #Landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .portrait {
      order: 2;
      max-height: 40rem;
      aspect-ratio: 9 / 16;
      background-size: cover;
    }

    .myself {
      gap: 1.5rem;

      h1 {
        font-size: 2.5rem;
      }

      p, i {
        line-height: 1.75rem;
      }
    }
  }
}

@media screen and (min-width: 75rem) {
  #Landing {
    .myself {
      gap: 2rem;

      h1 {
        font-size: 3rem;
      }

      p, i {
        font-size: 1.5rem;
        line-height: 2rem;
        display: grid;
        place-items: center;
      }

      .socials {
        gap: 1.5rem;

        a {
          height: 3rem;
          width: 3rem;

          img {
            height: 3rem;
          }
        }
      }
    }
  }
}
