#Landing {
  height: 100vh;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .portrait {
    background-image: url("../../assets/images/me.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1;
  }

  .myself {
    p {
      padding-top: 1rem;
      line-height: 1.5rem;
    }
  }
}