.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in-expand {
  opacity: 0;
  transform-origin: bottom;
  transform: scale(0.95);
  animation: fade-in-expand 1s ease-in forwards;
}

@keyframes fade-in-expand {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.slide-in {
  left: -100vw;
  position: relative;
  animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
  from {
    left: -100vw;
  }

  to {
    left: 0;
  }
}

.reveal-vertical {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation: reveal-vertical 1s ease-out forwards;
}

@keyframes reveal-vertical {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.reveal-horizontal {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: reveal-horizontal 1s ease-out forwards;
}

@keyframes reveal-horizontal {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.rotate-y {
  transform-origin: top;
  transform: perspective(1000px) rotateX(-90deg);
  animation: rotate-y 500ms forwards ease-out;
}

@keyframes rotate-y {
  from {
    transform: perspective(1000px) rotateX(-90deg);
  }

  to {
    transform: perspective(1000px) rotateX(0);
  }
}

.fade-out-slide-up {
  animation: fade-out-slide-up 1s forwards;
}

@keyframes fade-out-slide-up {
  from {
    opacity: 1;
    margin-top: 0;
  }

  to {
    opacity: 0;
    margin-top: -10rem;
  }
}

@media (prefers-reduced-motion) {
  .fade-in {
    opacity: initial;
    animation: none;
  }

  .slide-in-fade-in {
    left: initial;
    animation: none;
  }

  .reveal-vertical {
    animation: noe;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .reveal-horizontal {
    animation: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .transition {
    transition: none !important;
  }

  .rotate-y {
    transform-origin: initial;
    transform: none;
    animation: none;
  }

  .fade-out-slide-up {
    animation: none;
  }
}
