@import "./animations.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F5F5F5;
  --secondar-color: #111111;
  --accent-color: royalblue;
  --light-color: white;
  --shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--primary-color);
  font-size: 1rem;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

h1 {
  font-family: 'Mulish', sans-serif;
}

h3 {
  font-family: 'Merriweather', serif;
}

h4 {
  font-family: Mulish, sans-serif;
}

p {
  font-family: 'Delius', cursive;
  font-weight: 500;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

main {
  padding: 1rem 0;
  display: grid;
  gap: 2rem;
}

.content {
  opacity: 0.6;
}

.btn {
  width: max-content;
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 1.25rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

section {
  display: grid;
  gap: 1rem;
}

article {
  display: grid;
  gap: 0.75rem;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-light {
  background-color: var(--light-color);
}

.color-accent {
  color: var(--accent-color);
}

.card {
  border-radius: 1rem;
  background-color: var(--light-color);
}

.card-body {
  padding: 1rem 1rem 0.5rem 1rem;
  display: grid;
  gap: 0.75rem;
  border-radius: 0 0 1rem 1rem;
}

.card-footer {
  padding: 0.5rem 1rem 1rem 1rem;
}

.transition {
  transition: 500ms ease-out;
}

.relative {
  inset: 0;
  position: relative;
}

.no-slide {
  opacity: 0;
  top: 1rem;
}

.slide {
  opacity: 1;
  top: 0 !important;
}

@media screen and (min-width: 30rem) and (max-width: 45rem) {
  .container {
    max-width: 30rem;
  }

  main {
    gap: 2.25rem;
  }
}

@media screen and (min-width: 45rem) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p, i {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 45rem) and (max-width: 64rem) {
  .container {
    padding: 0 2rem;
    max-width: 45rem;
  }

  main {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 64rem) {
  .transition {
    animation-delay: 0s !important;
  }
}

@media screen and (min-width: 64rem) {
  main {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

  #Landing, #AboutMe, #Skills, #Projects, #Hobbies {
    grid-column: 1 / -1;
  }

  .no-slide {
    top: 2rem;
  }
}

@media screen and (min-width: 64rem) and (max-width: 75rem) {
  .container {
    padding: 0 3rem;
    max-width: 64rem;
  }

  main {
    gap: 2.75rem;
  }
}

@media screen and (min-width: 75rem) {
  .container {
    padding: 0 4rem;
    max-width: 75rem;
  }

  main {
    gap: 3rem;
  }

  section {
    gap: 1.5rem;
  }

  article {
    gap: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
