header {
  width: 100%;
  position: fixed;
  padding: 1rem 0;
  background-color: var(--primary-color);
  z-index: 1;
  box-shadow: var(--shadow);

  h1 {
    font-family: 'Mulish', sans-serif;

    span {
      color: var(--accent-color);
    }
  }
}