#Header {
  width: 100%;
  position: fixed;
  z-index: 1;

  .skip-nav {
    $border: 0.1rem solid var(--accent-color);
    position: absolute;
    padding: 0.75rem 0.5rem;
    background-color: rgba(var(--light-color));
    color: rgba(var(--dark-color));
    border-right: $border;
    border-bottom: $border;
    border-radius: 0 0 0.5rem 0;
    z-index: 3;
    transform: translate(-100%, -100%);
    transition: var(--fast-transition);
  }

  .skip-nav:focus {
    transform: translate(0, 0);
  }

  a {
    text-decoration: none;
  }

  nav {
    p {
      color: var(--accent-color);
    }
  }

  header {
    padding: 1rem 0;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav {
        display: flex;
        align-items: center;
        gap: var(--section-gap);
      }

      h1 {
        color: var(--secondary-color);
        font-family: 'Mulish', sans-serif;
        flex: 1;

        span {
          color: var(--accent-color);
        }
      }

      nav {
        display: none;
      }
    }
  }

  .nav-popup {
    $gap: 0.5rem;
    transform: scale(0);
    transform-origin: top right;
    transition: var(--fast-transition);
    position: absolute;
    right: 0;

    nav {
      width: min-content;
      margin-left: auto;
      margin-top: 0.5rem;
      background-color: rgb(var(--light-color), 0.8);
      backdrop-filter: blur(5px);
      border-radius: $gap;
      box-shadow: var(--shadow);
      padding: $gap 0;
      display: grid;
      justify-content: center;
      text-align: center;
      gap: $gap;

      div {
        grid-column: span;
        width: 100%;
        display: grid;
        gap: $gap;

        p {
          margin: 0 1rem;
        }

        hr {
          border-bottom: none;
          border-top: 1px solid rgba(var(--dark-color), 0.2);
        }
      }
    }
  }

  .open {
    transform: scale(1);
  }

  .overlay {
    height: 100vh;
    position: absolute;
    inset: 0;
    display: none;
    background: rgba(var(--dark-color), 0.1);
    backdrop-filter: blur(1px);
  }

  .overlay-visible {
    display: block;
  }
}

@media screen and (min-width: 64rem) {
  #Header {
    header {
      .container {
        .nav-btn {
          display: none;
        }

        nav {
          color: var(--accent-color);
          display: flex;
          gap: 1.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 75rem) {
  #Header {
    header {
      .container {
        nav {
          gap: 2rem;
        }
      }
    }
  }
}
