#Hobbies {
  .hobby {
    display: grid;
    gap: 0.75rem;

    .collage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;

      div {
        padding: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0.5rem;
      }

      div:nth-child(1) {
        background-image: url("../../assets/images/css-arts/3.jpg");
        grid-row: 1 / 3;
        height: 20rem;
      }

      div:nth-child(2) {
        background-image: url("../../assets/images/css-arts/2.jpg");
      }

      div:nth-child(3) {
        background-image: url("../../assets/images/css-arts/4.jpg");
      }

      div:nth-child(4) {
        background-image: url("../../assets/images/css-arts/1.jpg");
        grid-column: 1 / -1;
        height: 10rem;
      }
    }
  }
}