#Experiences {
  .experience {
    h3 {
      color: var(--accent-color);
    }

    .timeline {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    hr {
      margin-top: 0.5rem;
    }

    svg {
      fill: var(--secondary-color);
    }
  }
}